body 
{
background-color: #4b6136;
color: white;
text-shadow:1px 1px 2px black;
min-height: 100vh;

}
body *{

    margin: 0;
    padding: 0;
}

.roboto_font
{
text-shadow: white;
font-family: "Roboto";
}

.tnr-font
{
font-family: 'Times New Roman';
}

.ss-font
{
font-family: sans-serif;
}

.unbold
{
font-weight: normal;
}

.container
{
display: grid;
grid-template-columns: 70rem;
grid-template-rows: 9rem;
place-self: center;
padding: 2px;
}

.container div
{
background-image: url(MerchBilagor/shawn-mendes-header.jpg);
background-size: cover;
background-position: center 40%;
border: 3px solid white;
padding: 10px;
display: flex;
align-items: center;
}

.bakgrund-container
{
background-color: #004d4d;
width: 80%;
margin: 0 auto;
min-height: 150rem;
padding: 1.25;
}

h1 
{
text-align: left;
font-size: 50px;
margin-left: 13%;
white-space: nowrap;
text-shadow:2px 2px 2px black;
}

h2
{
margin-top: 2rem;
text-align: center;
font-size: 30px;
}

.merch-item {
    text-align: center;
    background: transparent;
    padding: 15px;
    border-radius: 8px;
}
.merch-item img {
    width: 5rem;       
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.merch-grid {
    display: grid;
    gap: 20px;
    padding: 20px;

}