body 
{
background-color: #004d4d;
color: white;
text-shadow:1px 1px 2px black;
min-height: 100vh;

}
body *{

    margin: 0;
    padding: 0;
}

.roboto_font
{
text-shadow: white;
font-family: "Roboto";
}

.tnr-font
{
font-family: 'Times New Roman';
}

.ss-font
{
font-family: sans-serif;
}

.unbold
{
font-weight: normal;
}

.container
{
display: grid;
grid-template-columns: 75rem;
grid-template-rows: 9rem;
place-self: center;
padding: 2px;
}

.container div{
background-image: url(shawn-mendes-header.jpg);
background-size: cover;
background-position: center 40%;
border: 3px solid white;
padding: 10px;
font-size: 15px;
text-align: center;

}

h1 
{
text-align: center;
font-size: 50;
}

img
{
background-image: white;
}