:root{
    /* 
    --secondary-col: ;
    */
    --background-col: #004d4d;
    --main-col: #0f3226;
    --text-col: #f5f5dc;
    --button-col: #0f3226;
    --button-hover-col: #4b6136;

}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    background-color: var(--background-col);
}

nav *{
    margin: 0;
    padding: 0;
    text-decoration: none;  
    color: var(--text-col);  
}

nav {
    background-color: var(--main-col);
    display: grid;
    grid-template-columns: auto 1fr;
    height: 5rem;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem; 
}

nav a{
    color: var(--text-col);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 7rem;
    border-radius: 0.2rem;
    background-color: var(--button-col);    
}

nav a:hover{
    background-color: var(--button-hover-col);
    color: white;
}

#home-button{
    width: 5rem;
    height: 5rem;
    text-align: center;
    align-self: center;
}

footer{
    color: var(--text-col);
    background: var(--main-col);
    height: 35vh;
}