body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #001919;
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 40px 0;
}

.content img {
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
}

.line {
position: absolute;
width: 5px;
background: #066;
top: 0;
left: 50%;
transform: translateX(-50%);
height:0;
transition: height 0.2s ease-out
}

.navbar {
    text-align: center;
}


.event {
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.event.show {
    opacity: 1;
    transform: translateY(0);
}

.event.left {
    left: 0;
    text-align: left;
}

.event.right {
    left: 50%;
}

.content {
    background: #003333;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.content:hover {
    transform: scale(1.05);
}
