:root{
    --text-col: #f5f5dc;
    --button-col: #0f3226;
    --button-hover-col: #4b6136;
}

a{
    color: var(--text-col);
    text-decoration: none;
    display: grid;
    width: 15rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--button-col);  
}

a:hover{
    background-color: var(--button-hover-col);
}

.socials-button {
    font-size: 1.1vw;
    height: 3vw;
    width: 15vw;
    border-radius: 0.2rem;
    margin-bottom: 3vw;
}

#history section .history-button {
    height: 3vw;
    width: 15vw;
    border-radius: 0.2rem;
    grid-column: 1;
    font-size: 1.1vw;
}

.work-buttons-wrap {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    gap: 2rem;
    margin-top: 5rem;
}

.work-buttons {
    height: 4rem;
    width: 12rem;
    font-size: 1.1vw;
}

.tours-button{
    height: 3vw;
    width: 15vw;
    border-radius: 0.2rem;
    grid-column: 1;
    font-size: 1.1vw;
    margin-bottom: 5vw;
}

.merch-button{
    height: 3vw;
    width: 15vw;
    border-radius: 0.2rem;
    grid-column: 1;
    font-size: 1.1vw;
    margin-bottom: 5vw;
}