* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    width: 87.25%;
    margin: 0 auto;
    position: relative;
    height: 70%;
    place-self: center;
    overflow: hidden;
    padding-inline: calc((100% - 1000rem) / 2);
}

/*
.carousel-viewport{
    width: 70%;

}*/

.carousel-track {
    display: flex;
    gap: 5rem;
    width: 70%;
}

.carousel-image {
    width: 87.25%;
    height: 87.25%;
    object-fit: cover;
    border-radius: 8px;
}

.carousel-button {
    transform: translateY(120%);
    transform: translateX(-200%);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: rgba(0,0,0,0.5);
    color: #f5f5dc;
    border: none;
    cursor: pointer;
    padding: 1rem;
}

.left { left: 10px; }
.right { right: 10px; }

